# Node
node_modules/
.next/
out/
dist/
build/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log

# OS
.DS_Store

# Editor
.vscode/
.idea/

# Next.js
.vercel/

# Coverage + cache
coverage/
.cache/
.cache-loader/

# Images / uploads
uploads/
media/

# Local files
*.sqlite
*.db
